
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"
          name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minh Pham</title>
    <link rel="icon" type="image/png" href="../public/assets/icon.png"/>
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/furniture.css" />
</head>
<style>

    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
    @font-face {
        font-family: "Cubano";
        src: url("../public/assets/Cubano.otf") format("opentype");
    }
    @font-face {
        font-family: "Poppins";
        src: url("../public/assets/fonts/Poppins-Regular.ttf") format("opentype");
    }
    body {
        font-family: 'Poppins', sans-serif;
        margin:0;
        overflow: hidden;
        color: white;
    }
    * {
        cursor: default;
    }
    .no-select {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    h1 {
        z-index: 1;
        font-family: 'Cubano', sans-serif;
        color: white;
        font-size: 100px;
        text-align: center
    }
    h1:hover {
        background-color: white;
        color: black;
    }
    .glitch {
        color: white;
    }
    .glitch:hover {
        background-color: white;
        color: black;
    }
    h2{
        z-index: 1;
        font-family: 'Cubano', sans-serif;
        font-size: 2.3em;
        margin: 0;
    }
    p {
        z-index: 1;
    }
    #hero {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f4f4f4;
    }
    .hero-text h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .hero-text p {
        font-size: 18px;
        color: gray;
    }
    .hero-image img {
        width: 85%;
        height: auto;
        offset-position: 100px;
        max-width: 600px;
        transform: translateY(15%) translateX(5%) scale(120%);
    }

    .section h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .section p {
        line-height: 1.625em;
        margin: 0 auto;
        max-width: 480px;
    }
    footer {
        text-align: center;
    }
    button {
        z-index: 1;
    }
    button span {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 100px;
        margin-top: 50px;
        margin-left: 50px;
        animation: ripple 1s;
        opacity: 0;
    }

    @keyframes ripple {
        from {
            opacity: 1;
            transform: scale(0);
        }
        to {
            opacity: 0;
            transform: scale(10);
        }
    }
    @keyframes rotate {
        from {
            rotate: 0deg;
        }
        to {
            rotate: 360deg;
        }
    }
    #blob {
        z-index: 0;
        height: 500px;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: white linear-gradient(to right, #f1d47c, #6e1320);
        animation: rotate 20s infinite;
        filter: blur(200px);
    }
</style>
<body ononline="onFunction()"onoffline="offFunction()">
<div class="site" style="background-color:#f4f4f4" >
    <div id="blob" class="no-select"></div>
    <div class="navigation">
        <div class="hamburger" onclick="show()">
            <svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="bar" d="M2.14271 3.2232C9.48416 3.2232 16.8256 3.2232 24.2088 3.2232C26.2944 3.2232 28.4218 3.2232 30.5074 3.2232C31.8422 3.2232 31.8422 0 30.5074 0C23.166 0 15.8245 0 8.44135 0C6.35571 0 4.22835 0 2.14271 0C0.807899 0 0.807899 3.2232 2.14271 3.2232Z" fill="currentColor"/>
                <path class="bar" d="M2.00425 14.5084C10.5971 14.7018 19.1482 14.444 27.7411 13.8638C30.1604 13.6704 32.5797 13.5415 34.9991 13.2836C36.3339 13.1547 36.3339 9.93148 34.9991 10.0604C26.448 10.834 17.8551 11.2852 9.304 11.2852C6.88465 11.2852 4.46531 11.2852 2.04597 11.2208C0.669444 11.2208 0.669445 14.444 2.00425 14.5084Z" fill="currentColor"/>
                <path class="bar" d="M0.995954 25.9362C9.58879 26.1296 18.1399 25.8717 26.7328 25.2915C29.1521 25.0981 31.5714 24.9692 33.9908 24.7113C35.3256 24.5824 35.3256 21.3592 33.9908 21.4881C25.4397 22.2617 16.8468 22.713 8.2957 22.713C5.87635 22.713 3.45701 22.7129 1.03767 22.6485C-0.338857 22.6485 -0.338856 25.8717 0.995954 25.9362Z" fill="currentColor"/>
            </svg>
        </div>
        <nav>
            <div>
                <ul>
                    <li><a>Projects</a></li>
                    <li><a>Work</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
            <div class="footer">
                <div class="footer-item" id="resume">
                    <a>RESUME</a>
                </div>
                <div class="footer-item" id="socials">
                    <a class="social">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fa-social" d="M16.7164 3.01025C21.1828 3.01025 21.7117 3.02984 23.4682 3.1082C25.1007 3.18003 25.9822 3.45428 26.5699 3.68283C27.347 3.9832 27.9085 4.34887 28.4897 4.93003C29.0774 5.51771 29.4365 6.07275 29.7369 6.8498C29.9654 7.43748 30.2397 8.32554 30.3115 9.95147C30.3899 11.7145 30.4094 12.2434 30.4094 16.7033C30.4094 21.1697 30.3899 21.6986 30.3115 23.4552C30.2397 25.0876 29.9654 25.9692 29.7369 26.5568C29.4365 27.3339 29.0708 27.8955 28.4897 28.4766C27.902 29.0643 27.347 29.4234 26.5699 29.7238C25.9822 29.9524 25.0942 30.2266 23.4682 30.2984C21.7052 30.3768 21.1763 30.3964 16.7164 30.3964C12.25 30.3964 11.7211 30.3768 9.96453 30.2984C8.33207 30.2266 7.45054 29.9524 6.86286 29.7238C6.08581 29.4234 5.52424 29.0578 4.94309 28.4766C4.3554 27.8889 3.99626 27.3339 3.69589 26.5568C3.46734 25.9692 3.19309 25.0811 3.12126 23.4552C3.0429 21.6921 3.02331 21.1632 3.02331 16.7033C3.02331 12.2369 3.0429 11.708 3.12126 9.95147C3.19309 8.31901 3.46734 7.43748 3.69589 6.8498C3.99626 6.07275 4.36193 5.51118 4.94309 4.93003C5.53077 4.34234 6.08581 3.9832 6.86286 3.68283C7.45054 3.45428 8.3386 3.18003 9.96453 3.1082C11.7211 3.02984 12.25 3.01025 16.7164 3.01025ZM16.7164 0C12.1781 0 11.61 0.0195895 9.8274 0.0979475C8.05129 0.176306 6.83021 0.463618 5.77238 0.874998C4.66883 1.30597 3.73507 1.87406 2.80783 2.80783C1.87406 3.73507 1.30597 4.66883 0.874998 5.76585C0.463618 6.83021 0.176306 8.04476 0.0979476 9.82087C0.0195895 11.61 0 12.1781 0 16.7164C0 21.2546 0.0195895 21.8227 0.0979476 23.6054C0.176306 25.3815 0.463618 26.6026 0.874998 27.6604C1.30597 28.7639 1.87406 29.6977 2.80783 30.6249C3.73507 31.5522 4.66883 32.1268 5.76585 32.5512C6.83021 32.9626 8.04476 33.2499 9.82087 33.3283C11.6035 33.4066 12.1716 33.4262 16.7099 33.4262C21.2481 33.4262 21.8162 33.4066 23.5988 33.3283C25.3749 33.2499 26.596 32.9626 27.6539 32.5512C28.7509 32.1268 29.6846 31.5522 30.6119 30.6249C31.5391 29.6977 32.1137 28.7639 32.5382 27.6669C32.9496 26.6026 33.2369 25.388 33.3152 23.6119C33.3936 21.8292 33.4132 21.2611 33.4132 16.7229C33.4132 12.1847 33.3936 11.6166 33.3152 9.83393C33.2369 8.05782 32.9496 6.83674 32.5382 5.7789C32.1268 4.66883 31.5587 3.73507 30.6249 2.80783C29.6977 1.88059 28.7639 1.30597 27.6669 0.881528C26.6026 0.470148 25.388 0.182835 23.6119 0.104477C21.8227 0.0195895 21.2546 0 16.7164 0Z" fill="currentColor"/>
                            <path class="fa-social" d="M16.7164 8.12965C11.9757 8.12965 8.12965 11.9757 8.12965 16.7164C8.12965 21.457 11.9757 25.3031 16.7164 25.3031C21.457 25.3031 25.3031 21.457 25.3031 16.7164C25.3031 11.9757 21.457 8.12965 16.7164 8.12965ZM16.7164 22.2863C13.6408 22.2863 11.1464 19.7919 11.1464 16.7164C11.1464 13.6408 13.6408 11.1464 16.7164 11.1464C19.7919 11.1464 22.2863 13.6408 22.2863 16.7164C22.2863 19.7919 19.7919 22.2863 16.7164 22.2863Z" fill="currentColor"/>
                            <path class="fa-social" d="M27.6473 7.79003C27.6473 8.90011 26.7462 9.7947 25.6427 9.7947C24.5326 9.7947 23.638 8.89358 23.638 7.79003C23.638 6.67996 24.5391 5.78537 25.6427 5.78537C26.7462 5.78537 27.6473 6.68649 27.6473 7.79003Z" fill="currentColor"/>
                        </svg>
                    </a>
                    <a class="social">
                        <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fa-social" d="M31.4832 0H2.51016C1.12227 0 0 1.06348 0 2.37832V30.6152C0 31.9301 1.12227 33 2.51016 33H31.4832C32.8711 33 34 31.9301 34 30.6217V2.37832C34 1.06348 32.8711 0 31.4832 0ZM10.0871 28.1209H5.04023V12.3686H10.0871V28.1209ZM7.56367 10.2223C5.94336 10.2223 4.63516 8.95254 4.63516 7.38633C4.63516 5.82012 5.94336 4.55039 7.56367 4.55039C9.17734 4.55039 10.4855 5.82012 10.4855 7.38633C10.4855 8.94609 9.17734 10.2223 7.56367 10.2223ZM28.973 28.1209H23.9328V20.4639C23.9328 18.6398 23.8996 16.2873 21.3098 16.2873C18.6867 16.2873 18.2883 18.2789 18.2883 20.335V28.1209H13.2547V12.3686H18.0891V14.5213H18.1555C18.8262 13.2838 20.473 11.9754 22.9234 11.9754C28.0301 11.9754 28.973 15.2367 28.973 19.4777V28.1209Z"
                                  fill="currentColor"/>
                        </svg>
                    </a>
                    <a class="social">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="fa-social" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M16.5137 0C7.38203 0 0 7.56247 0 16.9183C0 24.3969 4.72992 30.7273 11.2916 32.9679C12.1119 33.1363 12.4125 32.6039 12.4125 32.156C12.4125 31.7637 12.3854 30.4193 12.3854 29.0186C7.79171 30.0271 6.83511 27.0018 6.83511 27.0018C6.09688 25.0411 5.00304 24.5371 5.00304 24.5371C3.49953 23.5007 5.11256 23.5007 5.11256 23.5007C6.78035 23.6128 7.65549 25.2373 7.65549 25.2373C9.13162 27.8141 11.5103 27.086 12.4672 26.6378C12.6038 25.5453 13.0415 24.7891 13.5063 24.369C9.84248 23.9768 5.98769 22.5203 5.98769 16.0218C5.98769 14.1731 6.64346 12.6606 7.68253 11.4843C7.51859 11.0642 6.94429 9.32727 7.84681 7.0025C7.84681 7.0025 9.24114 6.55425 12.3851 8.73912C13.7311 8.36879 15.1192 8.1804 16.5137 8.17881C17.908 8.17881 19.3294 8.37509 20.6419 8.73912C23.7862 6.55425 25.1805 7.0025 25.1805 7.0025C26.083 9.32727 25.5084 11.0642 25.3444 11.4843C26.4109 12.6606 27.0396 14.1731 27.0396 16.0218C27.0396 22.5203 23.1848 23.9486 19.4936 24.369C20.0953 24.9011 20.6145 25.9094 20.6145 27.5061C20.6145 29.7748 20.5875 31.5956 20.5875 32.1556C20.5875 32.6039 20.8883 33.1363 21.7084 32.9682C28.27 30.727 32.9999 24.3969 32.9999 16.9183C33.027 7.56247 25.6179 0 16.5137 0Z"
                                  fill="currentColor"/>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="overlay">
        <img src="../public/assets/Textures.png" style="width:100%; height:100%; top: 0; left: 0; opacity: 0.2">
    </div>
    <img class="carpet no-select" src="../public/assets/carpet.svg" alt="">
    <div id="about">
        <h2 id="about-title">ABOUT</h2>
        <img src="../public/assets/about-arrow.svg" id='about-arrow' alt="">
        <img class="about no-select outline" id="about-outline" src="../public/assets/about-outline.svg" alt="">
        <img class="about no-select colored" id="about-colored" src="../public/assets/about-colored.svg" alt="">
    </div>
    <div id="work">
        <h2 id="work-title">WORK</h2>
        <img src="../public/assets/work-arrow.svg" id='work-arrow' alt="">
        <img class="work no-select outline" id="work-outline" src="../public/assets/work-outline.svg" alt="">
        <img class="work no-select colored" id="work-colored" src="../public/assets/work-colored.svg" alt="">
    </div>
    <div id="projects">
        <h2 id="projects-title">PROJECTS</h2>
        <img src="../public/assets/projects-arrow.svg" id='projects-arrow' alt="">
        <img class="projects no-select outline" id="projects-outline" src="../public/assets/projects-outline.svg" alt="">
        <img class="projects no-select colored" id="projects-colored" src="../public/assets/projects-colored.svg" alt="">
    </div>
    <div id="contact">
        <h2 id="contact-title">CONTACT</h2>
        <img src="../public/assets/contact-arrow.svg" id='contact-arrow' alt="">
        <img class="contact no-select outline" id="contact-outline" src="../public/assets/contact-outline.svg" alt="">
        <img class="contact no-select colored" id="contact-colored" src="../public/assets/contact-colored.svg" alt="">
    </div>
    <div id="hero" style="background-color: black">
        <h1 class="glitch" data-value="Minh Pham">Minh Pham</h1>
    </div>
</div>
</body>
<script>

    let navbar = document.querySelector('.navigation')
    let hamburger = document.querySelector('.hamburger')
    let overlay = document.querySelector('#overlay')
    function show(){
        hamburger.classList.toggle('open')
        navbar.classList.toggle('active')
        overlay.classList.toggle('active')
    }
    const blob = document.getElementById('blob');
    document.body.onpointermove = event => {
        const { clientX, clientY } = event;
        const scrollX = window.scrollX || window.pageXOffset;
        const scrollY = window.scrollY || window.pageYOffset;

        const adjustedX = clientX + scrollX;
        const adjustedY = clientY + scrollY;

        blob.animate({
            left: `${adjustedX}px`,
            top: `${adjustedY}px`
        }, { duration: 1000, fill: "forwards" });
    }
    //detect changes in window width and height

    const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    let interval = null;
    function glitch(event) {
        let iteration = 0;
        console.log(event.target.innerText);
        clearInterval(interval);
        interval = setInterval(() => {
            event.target.innerText = event.target.innerText
                .split("")
                .map((letter, index) => {
                    if (letter === " ") {
                        return " "; // Preserve spaces
                    }
                    if (index < iteration) {
                        return event.target.dataset.value[index];
                    }
                    return letters[Math.floor(Math.random() * 26)];
                })
                .join("");
            if (iteration >= event.target.dataset.value.length) {
                clearInterval(interval);
            }
            iteration += 1 / 3;
        }, 40);
    }

    document.querySelector('h1').onmouseover = function(event) {
        glitch(event);
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry);
            if (entry.isIntersecting) {
                entry.target.classList.add('show');
            }
            else {
                entry.target.classList.remove('show');
            }
        })
    })
    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el)=> {})
</script>
</html>
