
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Northern Horizon ESP</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/scroller.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="public/js/jquery.js"></script>

</head>
<style>
    .nav {
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        top: 0;
        color: white;
        background-color:#285A8C !important;
        transition: background-color 0.1s, color 0.1s;
        transition-delay: 0.1s;
    }
    .nav:hover{
        background-color:white !important;
        color: black
    }
    .nav {
        background-color: white;
    }
</style>
<body ononline="onFunction()" onoffline="offFunction()">
<div class="site" style="background-color:#f4f4f4" >
    <!--Navbar-->
    <nav class="nav" style="z-index: 3">
        <div class="title">
            <img class="white-logo" src="../public/assets/logo.svg" style="width:80px; transform: translateY(2px); display: block;">
        </div>
        <ul class="list">
            <li class="nav-item" onclick="window.location.replace('/about')">About Us</li>
            <li class="nav-item" onclick="window.location.replace('/projects')">Past Projects</li>
        </ul>
    </nav>

    <!-- Hero section -->
    <div class="hero wave-down" style="background-color:#285A8C;background-image: url('public/assets/wave-down.png');">
        <div class="hero-text">
            <h1 style="font-size: 40px; color:white; text-align: center">We help students build skills</h1>
            <p style="color:white; font-size: 17px; text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget euismod lectus, id euismod sapien.</p>
            <br>
        </div>
        <div class="hero-image">
            <img src="public/assets/team.svg" alt="A team of people helping each other to build a lego tower.">
        </div>
    </div>

    <!-- About us section -->
    <div class="bg-white " style="margin: -20px 0;padding-top: 110px; padding-bottom: 110px">
        <div class="column" style="display: flex; align-items: center">
            <h2 style="text-align: center;">About Us</h2>
            <p class="paragraph" style="text-align: center; max-width: 600px">
                Northern Horizon is a project-based
                learning program for students to develop their career-oriented skills and
                portfolios by simulating the professional working environment.</p>
            <button class="black-btn" onclick="window.location.replace('/about')">Read More</button>
        </div>
    </div>


    <!--Marketing solutions section-->
    <div class="bg-black white"  style="padding-top: 200px; padding-bottom: 200px">
        <div class="row">
            <div class="flex-40" style=" text-align: center">
                <h2>Marketing<br> solutions</h2>
            </div>
            <div class="flex-60 column">
                <p style="
                text-align: center; align-items: center">
                    Unleash our student-run marketing team's power.
                    We specialize in tailored campaigns,
                    from online ads to social media and SEO.
                    Boost your brand's visibility with our creativity
                    and expertise in the digital landscape.
                </p>
                <!--                <button class="white-btn">Contact Us</button>-->
            </div>
        </div>
    </div>


    <!--Build a website-->
    <!--    <div class="title">From Our Students</div>-->
    <div style="height: 600px">
        <div class="row" style="height: 100%">
            <div class="wave-up row flex-60" style="height: 100%;background-image: url('../public/assets/wave-up.png');">
                <img src="public/assets/design1.svg" style="text-align: center; width: 70%; max-width: 600px; min-width: 250px">
            </div>
            <div style="flex-basis: 40%; background-color: #7fb0e0;
            height: 100%;
            display: flex; flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            ">
                <h2 class="white">Build a website</h2>
                <p class="white" style="max-width: 600px; margin-left: 50px; margin-right: 30px">
                    Our experienced student developers deliver professional websites with a creative touch. Trust us to create impressive, user-friendly designs using the latest web technologies.
                </p>
            </div>

        </div>
    </div>


    <!-- Other customized solutions section -->
    <div class="bg-white" style="padding-top: 170px; padding-bottom: 170px">
        <div class="row">
            <div class="flex-40" style=" text-align: center">
                <h2>Other <br>customized solutions</h2>
            </div>
            <div class="flex-60 column">
                <p style="
                text-align: center; align-items: center">
                    Unleash our student-run marketing team's power.
                    We specialize in tailored campaigns,
                    from online ads to social media and SEO.
                    Boost your brand's visibility with our creativity
                    and expertise in the digital landscape.
                </p>
                <!--                <button class="black-btn">Contact Us</button>-->
            </div>
        </div>
    </div>


    <!--  From Our Students section  -->
    <div style=" background: #123F6B; text-align: center; padding-top:40px" class="column">
        <h2 class="white">
            From Our Students
        </h2>
        <div class="scroller-container">
            <div class="scroller-item" style=" background: #3BACF6 ">
                <img src="public/assets/quote-bottom-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
            position: absolute;
                top: 60px;
                left: 20px; padding-right:5px">Northern Horizon gave me a valuable opportunity to
                    explore different facets of web development and helped develop my
                    problem-solving and presentation skills. </p>
                <p class="name white">-Richard Cui,<br>
                    former NH student</p>
            </div>
            <div class="scroller-item" style="
        background: #123F6B;
        border: 1px solid #c9c9c9;">
                <img src="public/assets/quote-bottom.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
                position: absolute;
                top: 60px;
                left: 20px;
            ">I have learned to solve
                    problem more efficiently on my own.
                    With an experienced teacher and other friends,
                    I have enjoyed working on Northern Horizon’s projects with my peers! </p>
                <p class="name white">-Giang Nguyen,<br>
                    NH student</p>
            </div>
            <div class="scroller-item" style="
        background: #3BACF6 ">
                <img src="public/assets/quote-bottom-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
            position: absolute;
                top: 60px;
                left: 20px; padding-right:5px">Northern Horizon helped me realized something I never knew I had: my passion for problem-solving. It is the best feeling ever to solve a problem, and I live for that.  </p>
                <p class="name white">-Minh Pham,<br>
                    NH student</p>
            </div>
            <div class="scroller-item" style="
        background: #123F6B;
        border: 1px solid #c9c9c9;">
                <img src="public/assets/quote-bottom.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
                position: absolute;
                top: 40px;
                left: 20px;
            ">I learned practical programming skills at Northern Horizon,
                    which gave me a head start and made programming in college a lot easier
                    . Without Northern Horizon, I don’t think I would’ve
                    been able to get internship offers at Cisco or PayPal.</p>
                <p class="name white">-Ian Liu,<br>
                    former NH student</p>
            </div>
            <div class="scroller-item" style="
        background: #3BACF6 ">
                <img src="public/assets/quote-bottom-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top-emp.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
            position: absolute;
                top: 130px;
                left: 20px; padding-right:5px; text-align: center">It had prompted me to do machine learning</p>
                <p class="name white">-David Le,<br>
                    NH student</p>
            </div>
            <div class="scroller-item" style="
        background: #123F6B;
        border: 1px solid #c9c9c9;">
                <img src="public/assets/quote-bottom.svg" style="position:relative;
            width:100px;
            transform: translateY(270px) translateX(160px)">
                <img src="public/assets/quote-top.svg" style="position:relative;
            width:100px;
            transform: translateY(-50px) translateX(-120px)">
                <p class="white quote" style="
                position: absolute;
                top: 35px;
                left: 20px;
            ">Thank you, Northern Horizon,
                    for providing me with an intuitive course
                    introducing popular programming languages and giving me the
                    opportunities
                    to involve in real-time projects which
                    cultivate and equipped. Here is a big thank you!</p>
                <p class="name white">-Yiyang Ge<br>
                    NH student</p>
            </div>
        </div>
    </div>
    <!-- Add more items as needed -->


    <!--Support Us section    -->
    <footer class="footer">
        <div class="bg-white " style="margin: -20px 0;padding-top: 50px; padding-bottom: 0">
            <div class="column" style="display: flex; align-items: center">
                <h2 style="text-align: center; color: black; font-size: 2em; padding: 50px">
                    Building Tomorrow's Innovators,<br>
                    One Student at a Time.</h2>
                <div class="row">
                    <button class="black-btn" style="border-radius: 0; margin:10px; font-size: 10px" >Contact Us</button>
                    <button class="blue-btn" style="border-radius: 0; margin:10px;  font-size: 10px">Donate</button>
                </div>
            </div>
        </div>

        <div class="bg-white" style="margin: -20px 0; padding-top: 110px; padding-bottom: 50px; display: flex;">
            <div class="column" style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
                <h3>Learn more</h3>
                <a onclick="window.location.replace('/')" >Home</a>
                <a>About Us</a>
                <a>Our projects</a>
            </div>
            <div class="column" style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
                <h3>What we do</h3>
                <a>Marketing solutions</a>
                <a>Build a website</a>
                <a>Tailored solutions</a>
            </div>
            <div class="column" style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
                <h3>Legal</h3>
                <a>Terms of Service</a>
                <a>Privacy Policy</a>
            </div>
            <div class="column" style="flex: 1; display: flex; flex-direction: column; align-items: flex-start;">
                <h3>Talk to us</h3>
                <a>boss.email@gmail.com</a>
                <a>+1 (845)-281-9257</a>
                <a>Facebook</a>
                <a>LinkedIn</a>
                <a>Twitter</a>

            </div>
        </div>

        <div class="footer-divider"></div>
        <div class="footer-content">
            <div>
                <img src="public/assets/logo-blue.svg" alt="Logo" class="footer-logo">
            </div>
            <div>
                <p style="color:black; font-size: 11px">&copy; 2023 Northern Horizon. All Rights Reserved.</p>
            </div>
            <div class="footer-social">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
</div>
</body>
<script>
    const navbar = document.querySelector('.nav');
    const whiteLogo = document.querySelector('.white-logo');
    const blackLogo = document.createElement('img');

    // Set the source and attributes of the black logo
    blackLogo.src = '../public/assets/logo-black.svg';
    blackLogo.className = 'black-logo';
    blackLogo.style.width = '80px';
    blackLogo.style.transform="translateY(2px)";
    blackLogo.style.display = 'none';

    // Add the black logo to the DOM
    const title = document.querySelector('.title');
    title.appendChild(blackLogo);

    // Event listener for hovering the navbar
    navbar.addEventListener('mouseenter', function() {
        // Hide the white logo and show the black logo
        setTimeout(function() {
            whiteLogo.style.display = 'none';
            blackLogo.style.display = 'block';
        }, 100);
    });
    navbar.addEventListener('mouseleave', function() {
        // Show the white logo and hide the black logo
        setTimeout(function() {
            whiteLogo.style.display = 'block';
            blackLogo.style.display = 'none';
        }, 100);
    });
    window.addEventListener('DOMContentLoaded', () => {
        const scrollerContainer = document.querySelector('.scroller-container');
        scrollerContainer.addEventListener('wheel', (event) => {
            event.preventDefault();
            scrollerContainer.scrollLeft += event.deltaY/5;
        });
    });
    function onFunction() {
        alert("You are now online.");
    }

    function offFunction() {
        alert("Your are offline. Some functionality may be unavailable.");
    }
</script>
</html>