@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    color: #0A142F;
    font-size: 11px;
    text-transform: uppercase;
    margin: 5px;
    margin-left: 0;
    font-weight: bold;
}
a{
    color: #555555;
    font-size: 11px;
}
.wave-up{
    background-color: #285A8C;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position:right bottom;
}
.about-blob{
    background-repeat: no-repeat;
    background-size: 100% 90%;

}


p{
    max-width: 600px;
}
.column{
    flex-direction: column;
    align-items: center;
}
.scrolling-section {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.scrolling-item {
    display: inline-block;
    width: 300px; /* Adjust the width of each item as needed */
    height: 200px; /* Adjust the height of each item as needed */
    margin-right: 10px; /* Adjust the spacing between items as needed */
    background-color: #f1f1f1; /* Optional: Add a background color */
}

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    overflow: scroll;
}
h1 {
    font-family: 'Poppins', serif;
    color: #285A8C; !important;
    font-size: 40px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin: 0;
}
.title {
    margin: 0 30px;
}


.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 30px;
}
.nav-item:hover {
    color: #008dff;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    background-color: #f4f4f4;
}
.hero-text {
    width: 60%;
    max-width:600px;
    padding: 30px;
    text-align: center;
}
.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 18px;
    color: gray;
}
.hero-image img {
    margin-left: 30px;
    width: 85%;
    height: auto;
    offset-position: 100px;
    max-width: 500px;
    transform: translateY(15%) translateX(5%) scale(120%);
}

.black-btn{
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    transition-delay: 0.1s;
}
.black-btn:hover{
    cursor:pointer;
    background-color: #0088ff
}
.white-btn{
    border-radius: 20px;
    background-color: #f6f5f7;
    color: black;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    transition-delay: 0.1s;
}
.white-btn:hover{
    cursor:pointer;
    background-color: #e0e0e0;
}
.blue-btn{
    border-radius: 20px;
    background-color: #0088ff;
    color: #ffffff;
    border: 1px solid #0088ff;;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    transition-delay: 0.1s;
}
.blue-btn:hover {
    cursor: pointer;
    background-color: #f6f5f7;
    color: #0088ff;
    border: 1px solid #0088ff;
}
button span {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 1s;
    opacity: 0;
}
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}
@media (max-width: 575.98px) {
    /* CSS rules for extra small devices */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices */
}
@media (min-width: 768px) and (max-width: 991.98px) {
    /* CSS rules for medium devices */
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices */
}
@media (min-width: 1200px) {
    /* CSS rules for extra large devices */
}