.scroller-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 80px;
    padding-top: 50px;/* Added top and bottom paddings of 80px */
    background-color: #123F6B; /* Set the background color */
}
.scroller-container::-webkit-scrollbar {
    display: none;
}
.scroller-item {
    flex: 0 0 auto;
    width: 250px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin-right: 30px;
    margin-left: 30px;/* Adjust the spacing between items */
    background-color: #f1f1f1;
    padding:20px;
    position: relative;
    border-radius: 20px
}
.quote {
    text-align: left;
}

.name {
    position: absolute;
    bottom: 35px;
    right: 10px;
    text-align: left;
}