.about {
    position: absolute;
    right: 6rem;
    bottom: 4rem;
    width: 24rem;
    height: auto;
}
#about-arrow {
    position: absolute;
    right: 6rem;
    bottom: 28rem;
}
#about-title {
    position: absolute;
    right: 10rem;
    bottom: 30.5rem;
}
#about-outline, #about-colored,#about-title, #about-arrow {
    transition: opacity 0.2s ease-in-out;
}
#about-colored, #about:hover #about-outline, #about-title,#about-arrow{
    opacity: 0;
}

#about:hover #about-colored, #about:hover #about-title,#about:hover #about-arrow {
    opacity: 1;
    cursor: pointer;
}
.carpet {
    position: absolute;
    bottom: 1rem;
    width: 90rem;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
}
.work {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
}
#work-title {
    position: absolute;
    bottom: 17rem;
    left: 54%;
    opacity: 0
}
#work-arrow {
    position: absolute;
    bottom: 14rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0
}
#work-outline, #work-colored, #work-title, #work-arrow{
    transition: opacity 0.2s ease-in-out;
}
#work-colored, #work:hover #work-outline {
    opacity: 0;
}
#work:hover, #work:hover #work-colored, #work:hover #work-arrow, #work:hover #work-title {
    opacity: 1;
    cursor: pointer;
}

.projects { position: absolute; left: 10rem; bottom: 5rem; height: auto; }
#projects-title, #projects-arrow { position: absolute; bottom: 24.5rem; left: 16rem; opacity: 0 }
#projects-arrow { bottom: 20rem; left: 15rem; }
#projects-title { transform: translate(-50%, 0); }
#projects-outline, #projects-colored, #projects-arrow, #projects-title { transition: opacity 0.2s ease-in-out; }
#projects-colored, #projects:hover #projects-outline  { opacity: 0; }
#projects:hover #projects-colored, #projects:hover #projects-arrow, #projects:hover #projects-title{ opacity: 1; cursor: pointer; }

.contact { position: absolute; left: 4rem; bottom: 50%; height: auto; }
#contact-title, #contact-arrow { position: absolute; top: 12rem; left: 8rem; opacity: 0 }
#contact-title { transform: translate(30%, -2rem); }
#contact-outline, #contact-colored, #contact-arrow, #contact-title { transition: opacity 0.2s ease-in-out; }
#contact-colored, #contact:hover #contact-outline  { opacity: 0; }
#contact:hover #contact-colored, #contact:hover #contact-arrow, #contact:hover #contact-title{ opacity: 1; cursor: pointer; }